@use "../utils" as *;

main {
  margin-top: rem(20);

  .section-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: rem(25);

    .left-content {
      position: relative;
    }
  }

  .section-bottom {
    margin-top: rem(55);
  }
}
